{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'shop/shop_home_index.html'%}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="247" border="1">
{#    <tr>#}
{#      <td width="237"><p align="center"><a href="/manage_shop_product">Manage product</a></p>#}
{#      <p align="center"><a href="/update_stock">Stock update </a></p>#}
{#      <p align="center"><a href="insert_user_details">Billig</a></p>#}
{#      <p align="center"><a href="/manage_offers">Manage offers </a></p>#}
{#      <p align="center"><a href="view_booking_update_status">View booking and update status </a></p>#}
{#      <p align="center"><a href="#">Trend analysis </a></p>#}
{#      <p align="center"><a href="/send_complaint_view_reply">Send complaint and View reply </a></p>#}
{#      <p align="center"><a href="/view_notifications_shop">View notification </a></p>#}
{#      <p align="center"><a href="/view_rating_review">View rating and review </a></p>#}
{#      <p align="center"><a href="/manage_special_offers">Manage special offers</a></p>#}
{#      <p align="center"><a href="/">Logout</a></p></td>#}
{#    </tr>#}
  </table>
</form>
{#</body>#}
{#</html>#}
{% endblock %}