{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'Rental/rental_home_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="{% url 'manage_product_search' %}#about">
  <table width="773" border="1" class="table table-dark table-hover">
    <tr>
      <td colspan="6">Product Search 
      <input type="text" name="search" value="{{ search }}"/>
      <input type="submit" name="Submit" value="Search" /></td>
    </tr>
    <tr>
      <td width="121">Product name </td>
      <td width="96">Details</td>
      <td width="128">Price </td>
      <td width="128">Category</td>
      <td width="128">Image</td>
      <td width="132">&nbsp;</td>
    </tr>
      {% for i in product_obj %}
    <tr>
      <td>&nbsp;{{ i.ProductName }}</td>
      <td>&nbsp;{{ i.ProductDetails }}</td>
      <td>&nbsp;{{ i.Price }}</td>
      <td>&nbsp;{{ i.CATEGORY.CategoryName }}</td>
      <td>&nbsp;<img src="{{ i.Image.url }}" alt="error" style="height: 80px; width: 90px"/></td>
      <td><p><a href="{% url 'update_rental_product' product_id=i.id %}#about">Update</a></p>
      <p><a href="{% url 'delete_rental_product' product_id=i.id %}">Delete</a></p></td>
    </tr>
      {% endfor %}
    <tr>
      <td colspan="6"><div align="center"><a href="{% url 'add_rental_product' %}#about">Add new product</a></div></td>
    </tr>
  </table>
</form>
{#</body>#}
{#</html>#}
{% endblock %}