{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'Rental/rental_home_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-dark table-hover">
    <tr>
      <td width="63">Product</td>
      <td width="79">Quandity</td>
      <td width="36">Price</td>
    </tr>
      {% for i in booking_obj %}
    <tr>
      <td>&nbsp;{{ i.PRODUCT.ProductName }} <img src="{{ i.PRODUCT.Image.url }}" alt="error" style="width: 90px; height: 120px"/> </td>
      <td>&nbsp;{{ i.Quantity }}</td>
      <td>&nbsp;{{ i.PRODUCT.Price }}</td>
    </tr>
  {% if i.RENTAL_BOOKING.Status == "pending" %}
    <tr>
      <td colspan="3"><p><a href="{% url 'accept_rental_request' %}">Accept</a></p>
      <p><a href="{% url 'reject_rental_request' %}">Reject</a></p></td>
    </tr>
    {% endif %}
  {% endfor %}
  <tr>
      <td colspan="2"><div align="center">Total</div></td>
      {% for i in booking_obj %}
      <td>&nbsp;{{ i.RENTAL_BOOKING.Amount }}</td>
      {% endfor %}
    </tr>
  </table>
</form>
{#</body>#}
{#</html>#}
{% endblock %}